*,
::before,
::after,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(51, 51, 51);
  background-image: linear-gradient(
    to right top,
    #6bd1bb,
    #52cdcb,
    #43c7da,
    #49bfe5,
    #60b6ea,
    #63b9ef,
    #66bcf3,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  /* SECOND ALTERNATIVE COLOUR TO USE */
  /* background: linear-gradient(
    rgb(68, 88, 208) 0%,
    rgb(200, 80, 192) 46%,
    rgb(255, 204, 112) 100%
  ); */
}

.weather-app {
  width: 700px;
  padding: 30px;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(245, 245, 245, 0.4);
}

.cards-container {
  border-top: 1px solid rgb(10, 10, 10);
  display: flex;
  justify-content: space-between;
}

.card-container {
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.today-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.unit-container {
  margin: 20px 10px 0 10px;
}

.unit-container button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  padding: 20px 5px 0 5px;
  cursor: pointer;
  transition: all .5s;
}

.unit-container button:hover {
  transform: scale(1.2) translateY(-5px);
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.today-container svg {
  transform: scale(7);
}

.today-container svg path {
  fill: yellow;
}

.icon-container {
  height: 80px;
  display: flex;
  align-items: center;
}

.weather-app p {
  margin: 10px;
}

.greyed {
  color: ghostwhite;
}
